<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.megha.godsendapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/mainlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/mainlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ObjectiveActivity" />
        <activity android:name=".MembersActivity" />
        <activity android:name=".EventsActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".UpcomingEvent" />
        <activity android:name=".VideoActivity" />
        
    </application>

</manifest>